.list {
  width: 100%;
  height: auto;
  background-color: #f4f8f1;
  padding-top: 40px;

  .listTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    font-size: 36px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 120px;
    font-style: italic;
    letter-spacing: 2px;
  }

  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    row-gap: 100px;
    padding-bottom: 30px;
    padding-left: 100px;
  }
}
