.featured {
  height: 700px;
  position: relative;
  -webkit-box-shadow: 2px -3px 55px 0px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 2px -3px 55px 0px rgba(0, 0, 0, 0.56);
  box-shadow: 2px -3px 55px 0px rgba(0, 0, 0, 0.56);

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 50px;
      width: 50px;
      margin-top: 5px;
    }
    span {
      font-family: "Berkshire Swash", cursive;
      color: #91b972;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 5px;
    }
  }

  .info {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 5%;
    position: relative;
    background-color: rgba(145, 185, 114, 0.25);

    .img2 {
      width: 330px;
      position: absolute;
      margin-left: 14%;
      margin-top: 5%;
      z-index: 3;
    }
    .img1 {
      width: 540px;
      height: 410px;
      border-radius: 50%;
    }
    .img3 {
      position: absolute;
      bottom: -5%;
      left: 33%;
      z-index: 1;
    }
    .descBox {
      width: 60%;
      margin-left: 17%;
      .desc {
        margin: 20px 0px;
        color: #111;
        font-style: italic;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 3px;
        line-height: 60px;

        span {
          color: #91b972;
          font-family: "Courgette", cursive;
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          letter-spacing: 3px;
        }
      }

      .buttons {
        display: flex;
        margin-top: 30px;

        .play,
        .more {
          padding: 10px 20px;
          border: none;
          border-radius: 50px;
          transition: all 0.35s ease;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          font-weight: 500;
          cursor: pointer;
          margin-right: 15px;
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.26);
        }
        .icon {
          font-size: 30px;
          margin-right: -5px;
          margin-left: -5px;
        }

        .play {
          background-color: #91b972;
          color: #eaebeb;
        }
        .play:hover {
          background-color: #6e8d56;
          color: #eaebeb;
        }
        span {
          margin-left: 10px;
        }
      }
    }
  }
}

.exit {
  padding: 7px 15px;
  border-radius: 20px;
  border: 2px solid #ab0c0c;
  color: white;
  background-color: #ab0c0c;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  font-family: Blinker;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.exit:hover {
  background-color: white;
  color: #ab0c0c;
}

.cards {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .plantName{
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 3vh;
    margin-top: 3vh;
  }

  .addPlant {
    display: flex;
    flex-direction: column;

    .columns{
      display: flex;
      justify-content: space-between;

      .plainText{
        font-family: serif;
        color: rgb(56, 56, 56);
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 5px;
      }

      .star{
        color: #91B972;
      }

      input{
        width: 14vw;
        height: 4vh;
        border-radius: 25px;
        border: 1px solid #91B972;
        font-family: serif;
        padding-left: 15px;
        font-size: 14px;
      }

      textarea{
        min-width: 14vw;
        max-width: 14vw;
        min-height: 21vh;
        max-height: 21vh;
        border-radius: 25px;
        border: 1px solid #91B972;
        font-family: serif;
        padding-left: 15px;
        font-size: 14px;
        padding-top: 10px;
      }

      textarea:focus, input:focus {
        outline: none;
        border: 1px solid #6e8d56;
        color: black;
      }

      ::placeholder{
        color: rgb(155, 155, 155);
      }

      .column1{
        display: flex;
        flex-direction: column;
      }

      .column2{
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.newPlay{
  width: 100%;
  background-color: #91B972;
  cursor: pointer;
  border: 1px solid #91B972;
  height: 4vh;
  margin-top: 4vh;
  border-radius: 25px;
  color: white;
  font-family: serif;
  font-size: 18px;
  letter-spacing: 1px;
  transition: all 0.35s ease;
}

.newPlay:hover{
  background-color: #6e8d56;
  border: 1px solid #6e8d56;
}
